.display-projects{
    @include display-flex;
    @include flex-direction(column);
    @include media-breakpoint-up(md) {
        display: grid;
        margin-top:40px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 2rem 1rem;
    }

    .MuiCardMedia-root{
        background-size: contain;
    }
}

